.cardBlock {
  width: 10vmax;
  height: 20vmax;
  display: flex;
  flex-direction: column;
  &_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    & > a {
      text-decoration: none;
    }
  }
  &_info-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: #ff7f2c;
    border-radius: 5px;
    width: 100%;
    height: 2rem;
    cursor: pointer;
  }
  &_info-title {
    text-wrap: balance;
  }
  &_info-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &_img {
    width: 100%;
    height: 100%;
  }
  &_imgBlock {
    height: 50%;
  }
  &_info-bookmark {
    width: 2rem;
  }
}
