//styles
@import "../app/auth/login/page.module.scss";
@import "../app/auth/register/page.module.scss";
@import "../app/library/page.module.scss";
@import "../components/header/header.module.scss";
@import "../components/loadingScreen/loadingScreen.module.scss";
@import "../styles/color-variables.scss";
@import "../components/firstSection/firstSection.module.scss";
@import "../components/card/card.module.scss";
@import "../components/cardList/cardList.module.scss";

//font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: $colorGray;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
