@import "../../styles/color-variables.scss";
.header {
    font-family: 'Montserrat', sans-serif;   
    
}
.logo {
    width: 100px;
}
.logoMobile {
    order: 2;
    margin-left: 10px;
}

.enterButtons {
    display: flex;
    gap: 10px;
    order: 3;
    color: $colorTextGray;
    margin-left: auto;
    .button-register {
        @media (max-width: 440px) {
            display: none;
        }
    }
}

.navbar-toggler {
    order: 1;
    transition: none;
    --bs-navbar-toggler-focus-width: none; 
    --bs-navbar-toggler-transition: none;
}
.button {
    text-align: left;
    background: none;
    border: none;
}
.nav-placeholder {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    padding: 0;
}
.navbar {
    font-size: 16px;
    &-nav {
        --bs-nav-link-color: $colorMain; 
        color: $colorTextGray;
    };
    &-brand {
        color: $colorTextGray;
        display: flex;
        align-items: center;
    };
    &-collapse {
        justify-content: space-between;
        flex-grow: 0;
    };
    a:hover {
        color: $colorTextGray;
    } 
    a {
        text-align: center;
        color: $colorTextGray;
        text-decoration: none;
    }
}
.nav-link {
    &.btn:active,
    &.btn:focus,
    &.btn:hover {
      background-color: transparent;
      color: inherit; 
    }
}
.navbar > .header-container {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}
